<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen Text Display Form</title>
</head>
<style>
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 98%;
    height: 100%;
    /* max-width: 600px; */
}

.section-container {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #00008B;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 99%;
    max-height: 100%;
    margin-bottom: 20px;
}

.section-title {
    font-size:18px;
    font-weight: bold;
    color: #006FB9;
    text-align: left;
    margin-bottom: 15px;
}

#report-title {
    font-size:24px;
    margin-bottom: 25px;
    color: #1167b1;
    text-align: center
}

.col-label-left {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

.col-label-right {
    color: #000000;
    font-size: 15px
}


.status-active {
    color: #A21515;
    font-weight: bold;
}
.status-resolved {
    color: #15A22D;
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}


.inner-table {
    overflow-y: auto
    border: 1px solid #000;
    border-collapse: collapse;
    max-width:100%;
    max-height: 350px;
    text-align: left;
}

.inner-table td,  .inner-table th {
   border: 1px solid #000;
   padding: 10px;
}

.tbl-col-ten {
  width: 10%;
}

.tbl-col-twenty {
  width: 20%;
}

.tbl-col-thirty {
  width: 30%;
}

.table-left-col {
    width: 160px;
}

#table-subscriptions {
    width: 50%;
}

.scrolling-table {
    max-height: 600px;
    overflow-y: auto;
}

#update-summary {
    overflow-y: auto;
    max-height: 350px;
}

</style>

    <body>
        <div class="form-container">
            <div class="section-title" id="report-title">
                Azure Incident Report Test </br>
                {% if OverallStatus == 'Active' %}
                    <div style="font-size: 16px;"><div style="color: red;">{{ OverallStatus}}</div> | {{ formatDateTimeFriendly(LastUpdateTime) }}</div>
                {% else %}
                    <div style="font-size: 16px;"><span style="color: green;">{{ OverallStatus}}</span> | {{ formatDateTimeFriendly(LastUpdateTime) }}</div>
                {% endif %}

            </div>
            <div class="section-container">
                <label class="section-title">Summary</label>

                {# summary #}
                <table>
                    <tr>
                        <td class="table-left-col"><label class="col-label-left">Title</label></td>
                        <td><label class="col-label-right">{{ Title }}</label></td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="col-label-left">Affected Services</label></td>
                        <td><label class="col-label-right">{{ ImpactedServicesNames | join(', ') }}</label></td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="col-label-left">Status</label></td>
                        <td>
                            {% if OverallStatus == 'Active' %}
                                <label class="col-label-right status-active"> Active </label>
                            {% else %}
                                <label class="col-label-right status-resolved"> Resolved </label>
                            {% endif %}
                        </td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="col-label-left">Impact Start Time</label></td>
                        <td>
                            <label class="col-label-right">{{ formatDateTimeFriendly(ImpactStartTime) }}</label>
                        </td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="col-label-left">Impact Mitigation Time</label></td>
                        <td>
                            <label class="col-label-right">{{ formatDateTimeFriendly(ImpactMitigationTime) }} </label>
                        </td>
                    </tr>
                </table>
                
            </div>

            <div class="section-container">
                <label class="section-title">Impacted Services</label>

                <div style="height: 700px;overflow-y: auto">
                    {# Impacted Services #}

                    {% for svc in ImpactedServices %}
                    <table>
                        <tr>
                            <td class="table-left-col"><label class="col-label-left">Impacted Service</label></td>
                            <td><label class="col-label-right"> {{ svc.ImpactedService }} </label></td>
                        </tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr>
                            <td class="table-left-col"><label class="col-label-left">Status</label></td>
                            <td>

                                {% if svc.SEARegionOrGlobalStatus == 'Active' %}
                                    <label class="col-label-right status-active"> Active </label>
                                {% else %}
                                    <label class="col-label-right status-resolved"> Resolved </label>
                                {% endif %}
                            </td>
                        </tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr>
                            <td class="table-left-col"><label class="col-label-left">Last Update Time</label></td>
                            <td><label class="col-label-right">{{ formatDateTimeFriendly(svc.SEARegionOrGlobalLastUpdateTime) }}</label></td>
                        </tr>

                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                    </table>

                    {# updates #}
                    <label class="col-label-left">Incident Updates</label>
                    <table class="inner-table">
                        <thead>
                            <th>Last Update Time</th>
                            <th>Summary</th>
                        </thead>
                        <tbody>
                            {% for update in svc.ImpactUpdates %}
                                <tr>
                                    <td width="110px" style="border: 1px solid black;">{{ formatDateTimeFriendly(update.UpdateDateTime) }}</td>
                                    <td style="border: 1px solid black;">
                                        <div id="update-summary">
                                        {{ update.Summary }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
            
            {# Impacted Subscriptions #}
            <div class="section-container">
                <label class="section-title">Impacted Subscriptions</label>
                <div class="scrolling-table">
                    <table class="inner-table">
                        <thead style="text-align:left;">
                            <th>Name</th>
                            <th>Id</th>
                        </thead>
                        <tbody>
                            {% for sub in ImpactedSubscriptions %}
                                <tr>
                                    <td width="50%">{{ sub.Name }}</td>
                                    <td>{{ sub.Id }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {# Impacted Resources #}
            <div class="section-container">
                <label class="section-title" >Impacted Resources</label>
                {% if (ImpactedResources === undefined) or (ImpactedResources.length == 0) %}
                    </br >
                    </br >
                    <div>No resource is impacted</div>
                {% else %}
                    <div class="scrolling-table">
                        <table class="inner-table">
                            <colgroup>
                                <col class="tbl-col-thirty" />
                                <col class="tbl-col-twenty" />
                                <col class="tbl-col-ten" />
                                <col class="tbl-col-ten" />
                                <col class="tbl-col-ten" />
                            </colgroup>
                            <thead>
                                <th>Resource Id</th>
                                <th>Subscription Id</th>
                                <th>Resource Group</th>
                                <th>Resource Type</th>
                                <th>Name</th>
                            </thead>
                            <tbody>
                                {% for rsc in ImpactedResources %}
                                <tr>
                                    <td>{{ rsc.Id }}</td>
                                    <td>{{ rsc.SubscriptionId }}</td>
                                    <td>{{ rsc.ResourceGroup }}</td>
                                    <td>{{ rsc.ResourceType }}</td>
                                    <td>{{ rsc.ResourceName }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
