<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen Text Display Form</title>
</head>
<style>
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 85%;
    height: 95%;
    /* max-width: 600px; */
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-group-label-left {
    flex-basis: 20%;
    text-align: left;
    font-weight: bold;
    color: black;
}

.form-group-label-right {
    flex-basis: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 2px;
    color: black
}

{# .form-group input, textarea {
    flex-basis: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
} #}

.textarea-short {
  overflow-y: scroll;
  height: 30px;
  resize: none;
  flex-basis: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.textarea-long {
  overflow-y: scroll;
  height: 700px;
  resize: none;
  flex-basis: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

</style>

    <body>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label class="form-group-label-left">Title</label>
                    <textarea class='textarea-short'  rows="5" cols="33" readonly>{{ Title }}</textarea>
                </div>
                <div class="form-group">
                    <label class="form-group-label-left">Affected Services</label>
                    <label class="form-group-label-right">{{ ImpactedServicesNames | join(', ') }}</label>
                </div>
                <div class="form-group">
                    <label class="form-group-label-left">Impact Start Time</label>
                    <label class="form-group-label-right">{{ ImpactStartTime }}</label>
                </div>
                <div class="form-group">
                    <label class="form-group-label-left">Impact Mitigation Time</label>
                    <label class="form-group-label-right">{{ ImpactMitigationTime }} </label>
                </div>
                <div class="form-group">
                    <label class="form-group-label-left">Summary</label>
                    <div class='textarea-long'>
                        {{ Description }}
                    </div>
                </div>

                {% for svc in ImpactedServices %}
                <div class="form-group">
                    
                    <table>
                        <tr>
                            <th colspan="3">{{ svc.ImpactedService }}</th>
                        </tr>
                        <tr>

                            <th />
                            <th />
                        <tr>
                        {% for update in ImpactUpdates %}
                        <tr>
                            <td>{{ update.Summary }}</th>
                            <td>{{ update.UpdateDateTime }}</th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </form>
        </div>
    </body>
</html>
