<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen Text Display Form</title>
</head>
<style>
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 96%;
    height: 95%;
    /* max-width: 600px; */
}

.impacted-service-form-container {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #00008B;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.impacted-service-form-group-label-left {
    flex-basis: 20%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}


.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group-label {
    flex-basis: 20%;
    text-align: left;
    font-weight: bold;
    color: black;
    margin-bottom:20px;
}

.form-group-label-left {
    flex-basis: 20%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #4527A0;
}

.form-group-label-right {
    flex-basis: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 2px;
    color: black
}

.impacted-service-container {
    margin-bottom: 20px;
}

.textarea-short {
  overflow-y: scroll;
  height: 30px;
  resize: none;
  flex-basis: 100%;
  padding: 5px;
  border: 0px solid #ccc;
  border-radius: 2px;
}
.textarea-long {
  overflow-y: scroll;
  height: 700px;
  resize: none;
  flex-basis: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.status-active {
    color: #A21515;
    font-weight: bold;
}
.status-resolved {
    color: #15A22D;
    font-weight: bold;
}

.impacted-subscription-table {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
    width: 50%;
}

.update-table {
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}
th {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
th {
    background-color: #fff;
}

.sub-section {
    margin-bottom:15px;
    margin-top:20px;
}

</style>

    <body>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label class="form-group-label-left">Title</label>
                    <div class='textarea-short'>{{ Title }}</div>
                </div>
                <div class="form-group">
                    <label class="form-group-label-left">Affected Services</label>
                    <label class="form-group-label-right">{{ ImpactedServicesNames | join(', ') }}</label>
                </div>

                <div class="form-group">
                    <label class="form-group-label-left">Status</label>
                    {% if OverallStatus == 'Active' %}
                        <label class="form-group-label-right status-active"> Active </label>
                    {% else %}
                        <label class="form-group-label-right status-resolved"> Resolved </label>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="form-group-label-left">Impact Start Time</label>
                    <label class="form-group-label-right">{{ formatDateTimeFriendly(ImpactStartTime) }}</label>
                </div>
                <div class="form-group">
                    <label class="form-group-label-left">Impact Mitigation Time</label>
                    <label class="form-group-label-right">{{ formatDateTimeFriendly(ImpactMitigationTime) }} </label>
                </div>

                <label class="form-group-label-left">Summary</label>
                <div class="form-group">
                    <div class='textarea-long'>
                        {{ Description }}
                    </div>
                </div>

                <div class="sub-section">
                    <label class="form-group-label-left" >Impacted Services</label>
                </div>

                {% for svc in ImpactedServices %}
                <div class="impacted-service-form-container">
                    <form>
                        <div class="form-group">
                            <label class="impacted-service-form-group-label-left"><b>Impact Service</b></label>
                            <label class="form-group-label-right"> {{ svc.ImpactedService }} </label>
                        </div>

                        <div class="form-group">
                            <label class="impacted-service-form-group-label-left">Status</label>
                            {% if svc.SEARegionOrGlobalStatus == 'Active' %}
                                <label class="form-group-label-right status-active"> Active </label>
                            {% else %}
                                <label class="form-group-label-right status-resolved"> Resolved </label>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="impacted-service-form-group-label-left">Is globally impacted?</label>
                            {% if svc.IsGlobal %}
                                <label class="form-group-label-right"> Yes </label>
                            {% else %}
                                <label class="form-group-label-right"> Only Southeast Asia is impacted </label>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="impacted-service-form-group-label-left">Last Update Time</label>
                            <div class='textarea-short'>{{ formatDateTimeFriendly(svc.SEARegionOrGlobalLastUpdateTime) }}</div>
                        </div>
                        
                        <label class="impacted-service-form-group-label-left" >Updates</label>

                        <table class="update-table">
                            <tbody>
                                {% for update in svc.ImpactUpdates %}
                                    <tr>
                                        <td width="110px">{{ formatDateTimeFriendly(update.UpdateDateTime) }}</td>
                                        <td>{{ update.Summary }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

                {% endfor %}

                <div class="sub-section">
                    <label class="form-group-label-left" >Impacted Subscriptions</label>
                </div>

                <div class="impacted-service-form-container">
                    <table class="impacted-subscription-table">
                        <thead>
                            <th>Name</th>
                            <th>Id</th>
                        </thead>
                        <tbody>
                            {% for sub in ImpactedSubscriptions %}
                                <tr>
                                    <td width="50%">{{ sub.Name }}</td>
                                    <td>{{ sub.Id }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="sub-section">
                    <label class="form-group-label-left" >Impacted Resources</label>
                </div>

            </form>
        </div>
    </body>
</html>
