<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen Text Display Form</title>
</head>
<style>
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 96%;
    height: 95%;
    /* max-width: 600px; */
}

.section-container {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #00008B;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 99%;
    height: 100%;
    margin-bottom: 20px;
}

.section-title {
    font-size:18px;
    font-weight: bold;
    color: #4527A0;
    text-align: left;
    margin-bottom: 10px;
}

.section-sub-title {
    font-size:15px;
    font-weight: bold;
    color: #00008B;
    text-align: left;
}


{# .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group-label {
    flex-basis: 20%;
    text-align: left;
    font-weight: bold;
    color: black;
    margin-bottom:20px;
} #}

.form-group-label-left {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
}

.form-group-label-right {
    color: #000000;
    font-size: 13px
}

.textarea-long {
  overflow-y: scroll;
  height: 700px;
  resize: none;
  flex-basis: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.update-summary {
  overflow-y: scroll;
  height: 380px;
  flex-basis: 100%;
  padding: 5px;
}


.status-active {
    color: #A21515;
    font-weight: bold;
}
.status-resolved {
    color: #15A22D;
    font-weight: bold;
}

.impacted-subscription-table {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}

.table-update {
    border: 1px solid black;
    border-collapse: collapse;
    max-width:100%;
}

.table-left-col {
    width: 150px;
}

{# th {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
th {
    background-color: #fff;
}

.sub-section {
    margin-bottom:15px;
    margin-top:20px;
} #}

</style>

    <body>
        <div class="form-container">
            <div class="section-container">
                <table>
                    <tr>
                        <td class="table-left-col"><label class="form-group-label-left">Title</label></td>
                        <td><label class="form-group-label-right">{{ Title }}</label></td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="form-group-label-left">Affected Services</label></td>
                        <td><label class="form-group-label-right">{{ ImpactedServicesNames | join(', ') }}</label></td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="form-group-label-left">Status</label></td>
                        <td>
                            {% if OverallStatus == 'Active' %}
                                <label class="form-group-label-right status-active"> Active </label>
                            {% else %}
                                <label class="form-group-label-right status-resolved"> Resolved </label>
                            {% endif %}
                        </td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="form-group-label-left">Impact Start Time</label></td>
                        <td>
                            <label class="form-group-label-right">{{ formatDateTimeFriendly(ImpactStartTime) }}</label>
                        </td>
                    </tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr><td/><td/></tr>
                    <tr>
                        <td class="table-left-col"><label class="form-group-label-left">Impact Mitigation Time</label></td>
                        <td>
                            <label class="form-group-label-right">{{ formatDateTimeFriendly(ImpactMitigationTime) }} </label>
                        </td>
                    </tr>
                </table>
            {# <div class="form-group">
                <label class="form-group-label-left">Title</label>
                <div class='textarea-short'>{{ Title }}</div>
            </div>
            <div class="form-group">
                <label class="form-group-label-left">Affected Services</label>
                <label class="form-group-label-right">{{ ImpactedServicesNames | join(', ') }}</label>
            </div>

            <div class="form-group">
                <label class="form-group-label-left">Status</label>
                {% if OverallStatus == 'Active' %}
                    <label class="form-group-label-right status-active"> Active </label>
                {% else %}
                    <label class="form-group-label-right status-resolved"> Resolved </label>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="form-group-label-left">Impact Start Time</label>
                <label class="form-group-label-right">{{ formatDateTimeFriendly(ImpactStartTime) }}</label>
            </div>
            <div class="form-group">
                <label class="form-group-label-left">Impact Mitigation Time</label>
                <label class="form-group-label-right">{{ formatDateTimeFriendly(ImpactMitigationTime) }} </label>
            </div>

            <label class="form-group-label-left">Summary</label>
            <div class="form-group">
                <div class='textarea-long'>
                    {{ Description }}
                </div>
            </div>

            <div class="sub-section">
                <label class="form-group-label-left" >Impacted Services</label>
            </div> #}
            </div>

            <div class="section-container">
                <label class="section-title">Impacted Services</label>

                <div style="height: 700px;overflow-y: auto">

                    {# Impacted Services #}

                    {% for svc in ImpactedServices %}
                    <table>
                        <tr>
                            <td class="table-left-col"><label class="form-group-label-left">Impacted Service</label></td>
                            <td><label class="form-group-label-right"> {{ svc.ImpactedService }} </label></td>
                        </tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr>
                            <td class="table-left-col"><label class="form-group-label-left">Status</label></td>
                            <td>

                                {% if svc.SEARegionOrGlobalStatus == 'Active' %}
                                    <label class="form-group-label-right status-active"> Active </label>
                                {% else %}
                                    <label class="form-group-label-right status-resolved"> Resolved </label>
                                {% endif %}
                            </td>
                        </tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr>
                            <td class="table-left-col"><label class="form-group-label-left">Last Update Time</label></td>
                            <td><label class="form-group-label-right">{{ formatDateTimeFriendly(svc.SEARegionOrGlobalLastUpdateTime) }}</label></td>
                        </tr>

                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>
                        <tr><td/><td/></tr>

                        <tr>
                            <td colspan="2">
                                {# updates #}
                                <label class="form-group-label-left">Incident Updates</label>
                                <table class="table-update">
                                    <thead>
                                        <th>Last Update time</th>
                                        <th>Summary</th>
                                    </thead>
                                    <tbody>
                                        {% for update in svc.ImpactUpdates %}
                                            <tr>
                                                <td width="110px" style="border: 1px solid black;">{{ formatDateTimeFriendly(update.UpdateDateTime) }}</td>
                                                <td style="border: 1px solid black;">
                                                    <div class="update-summary">
                                                    {{ update.Summary }}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </label>
            </div>
                

                {#
                {% for svc in ImpactedServices %} 
                <div class="section-container">
                    <form>
                        {# <div class="form-group">
                            <label class="impacted-service-form-group-label-left"><b>Impact Service</b></label>
                            <label class="form-group-label-right"> {{ svc.ImpactedService }} </label>
                        </div>

                        <div class="form-group">
                            <label class="impacted-service-form-group-label-left">Status</label>
                            {% if svc.SEARegionOrGlobalStatus == 'Active' %}
                                <label class="form-group-label-right status-active"> Active </label>
                            {% else %}
                                <label class="form-group-label-right status-resolved"> Resolved </label>
                            {% endif %}
                        </div> #}

                        {# <div class="form-group">
                            <label class="impacted-service-form-group-label-left">Is globally impacted?</label>
                            {% if svc.IsGlobal %}
                                <label class="form-group-label-right"> Yes </label>
                            {% else %}
                                <label class="form-group-label-right"> Only Southeast Asia is impacted </label>
                            {% endif %}
                        </div> #}

                        {# <div class="form-group">
                            <label class="impacted-service-form-group-label-left">Last Update Time</label>
                            <div class='textarea-short'>{{ formatDateTimeFriendly(svc.SEARegionOrGlobalLastUpdateTime) }}</div>
                        </div> #}
                        
                        {# <label class="impacted-service-form-group-label-left" >Updates</label>

                        <table class="update-table">
                            <tbody>
                                {% for update in svc.ImpactUpdates %}
                                    <tr>
                                        <td width="110px">{{ formatDateTimeFriendly(update.UpdateDateTime) }}</td>
                                        <td>
                                            <div class="update-summary">
                                            {{ update.Summary }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
                    </form>
                </div>

                {% endfor %} #}

                {# <div class="sub-section">
                    <label class="form-group-label-left" >Impacted Subscriptions</label>
                </div>

                <div class="section-container">
                    <table class="impacted-subscription-table">
                        <thead>
                            <th>Name</th>
                            <th>Id</th>
                        </thead>
                        <tbody>
                            {% for sub in ImpactedSubscriptions %}
                                <tr>
                                    <td width="50%">{{ sub.Name }}</td>
                                    <td>{{ sub.Id }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="sub-section">
                    <label class="form-group-label-left" >Impacted Resources</label>
                </div> #}
        </div>
    </body>
</html>
